(function () {
    'use strict';
    
    var serviceModule = angular.module('$${moduleName}');
    
    serviceModule.factory('$${serviceName}', $${serviceName});
    
    $${serviceName}.$inject = [];
    
    function $${serviceName}() {
        var service = {};
        
        service.method = method;
        
        return service;
        
        function method() {
        
        }
    }
}());
